/* General footer styles */
.footer {
  background: linear-gradient(180deg, #111132, #0c0c1d);
  color: #fff;
  padding: 20px 0;
  font-family: 'Montserrat', sans-serif;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* Three columns for desktop */
.left-side, .center-section, .right-side {
  flex: 1;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Linear gradient border-bottom for Contact Us and Quick Links */
.left-side h4, .center-section h4 {
  font-size: 1.5em;
  margin-bottom: 10px;
  position: relative;
  font-family: 'Montserrat', sans-serif;
}

.left-side h4::after, .center-section h4::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background: linear-gradient(270deg, rgb(238, 0, 255) 0%, rgb(165, 0, 255) 100%);
  position: absolute;
  bottom: -5px;
  left: 0;
}

/* Contact numbers and social icons */
.contact-numbers p{
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: column;
  margin-top: 7px;
  text-align: left;
  align-items: left;
  font-family: 'Montserrat', sans-serif;
}

.social-icons {
  margin-top: 10px;
}

.social-icons a {
  color: #fff;
  margin-right: 15px;
  font-size: 1.2em;
  font-family: 'Montserrat', sans-serif;
}

/* Quick Links styles */
.center-section ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.center-section ul li {
  margin: 4px 0;
}

.center-section ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
  font-family: 'Montserrat', sans-serif;
}

.center-section ul li a:hover {
  color: #eb12eb;
}

/* Contact Image and Map */
.contact-image-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contact-image-container p{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  width: 90%;
  margin-bottom: 10px;
}

.location-icon {
  margin-right: 3px;
  color: #dd10dd;
  font-size: 18px;
}

/* Footer bottom */
.footer-bottom {
  text-align: center;
  margin-top: 20px;
  font-family: 'Montserrat', sans-serif;
}

.footer-p{
  font-family: 'Montserrat', sans-serif;
}

.footer-bottom hr {
  border: none;
  height: 1px;
  background-color: #444;
  margin-bottom: 10px;
}

.footer-gmap{
  border: 4px solid rgb(234, 234, 234);
  border-radius: 2px;
}

/* Responsive design */
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .left-side, .center-section, .right-side {
    padding: 10px 0;
  }

  .footer-gmap{
    width: 280px;
    height: 150px;
  }

  .contact-image-container p{
    width: 95%;
    font-size: 16px;
  }

  .footer-p{
    font-size: 16px;
  }

  .right-side{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

}
